/* Getting font information */
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}
html {
  height: 100%;

}
/* Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100%;
  background-image: url(./Contour\ Line.svg);
}

/* Top searchbar */
.topSearch {
  background-color: black;

  height: 50px;
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#toggle {
  grid-column: 1/2;
  align-self: center;
  
  justify-self: left;
  background-color: rgb(115, 189, 213);
  color: black;
  border-radius: 15px;
  padding: 5px 10px;
}

#toggle:hover {
  background-color: lightblue;
  cursor: pointer;;
}

#title {
  grid-column: 2/3;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

#searchContainer {
  grid-column: 3/4;
  font-size: 20px;
  align-self: center;
  justify-self: right;
}

input[type=text] {
  color: black;
}

/* Current weather */
.currentWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.currentWeather #cityName {
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.currentWeather #bot {
  display: flex;
  gap: 20px;
}

.currentWeather #highLow {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  text-align: center;
  gap: 10px;
}

.currentWeather #botRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.currentWeather #botLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.currentWeather svg {
  height: 75px;
}

/* Footer */
.footer {
  background-color:  black;

  height: 30px;
  width: 100%;
  padding: 5px;

  text-align: center;
}